<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <header class="sidebar">
        <app-header-bar></app-header-bar>
    </header>
    <body class="container">
        <form [formGroup]="changePassword" >
            <label>New PassWord</label>
            <div>
                <span *ngIf="!changePassword.get('newpassword')?.valid && changePassword.get('newpassword')?.touched" style="color:red ;">Please enter new password</span>
                <input  formControlName="newpassword" type="password">
            </div> 
            <label>Re Enter Password</label>
            <div>
                <span *ngIf="!changePassword.get('repassword')?.valid && changePassword.get('repassword')?.touched" style="color:red ;">Re-enter Password</span>
                <input formControlName="repassword" type="password">
            </div> 
            <button type="submit" [disabled]="!changePassword.valid" (click)="changePW()">Change Password</button>
        </form>
    </body>
</html>

