.sidebar-item, .button{
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
    border-radius: 30px;
}

.sidebar-item:hover{
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.sidebar-item-icon{
    width: 25px;
    height: auto;

}
.main{
    margin-left: 20%;
    margin-right: 50%;
}
.tweetPost{
    /* margin-left: 10%; */
    border: 1px solid rgb(3, 16, 3) ;
    border: 1px solid green ;
}
.likeposition{
   margin-top: -3vh;
   margin-left: 1vh;
}
.tweet{
    flex: center;
    margin: 10%;
}

.button button{
    background-color: white;
    border: none;
    color: #4285F4;
}


li{
    box-shadow: 5px 10px #4285F4;
    border-color: #4285F4;

}

.tweet{
    padding-bottom: 1%;
}
.example-card {
    max-width: 400px;
  }

.tweetDate{
    margin-right: 1vh;
}
.tweet-card {
    max-width: 400px;
    border-color: rgb(9, 0, 0);
    border-width: 20%;
    background-color: bisque;
    margin-bottom: 20px;
    border-radius: 30px !important;
}
.tweetpart {
    display: flex;
    height: 7vh;
    text-align: center;
    border-radius: 20px !important;
    justify-items: center;
    margin-top: -2.4vh;
    background-color: white;
}
.tweetMessage{
    margin-left: 15px;
}
.edit-delete{
    margin-top: -3vh;
    margin-left: 35vh;
}
.retweet{
    margin-top: -3vh;
}
