<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <form [formGroup]="forgotPassword">
            <label>Username</label>
            <div>
                <span *ngIf="!forgotPassword.get('username')?.valid && forgotPassword.get('username')?.touched" style="color:red ;">Please enter a valid username</span>
                <input  formControlName="username" type="text">
            </div>  
            <button type="submit" [disabled]="!forgotPassword.valid" (click)="forgotpw()">Forgot Password</button>
        </form>
    </body>
</html>